
{% extends 'base.html' %}

{% block main %}
<div class="container">
<div class="row">
<div class="col-md-6">
<img src="images/dune-imperium-cover.jpg" alt="Dune: Imperium cover" class="img-fluid" />
</div>
<div class="col-md-6">
<h1>Dune: Imperium</h1>
<p>
Dune: Imperium is a competitive deck-building game set in the Dune universe. Players take on the role of one of six Great Houses and compete for control of the planet Arrakis, the only source of the valuable spice melange.
</p>
<p>
The game features a unique blend of deck-building and worker placement mechanics. Players use their cards to recruit agents, build armies, and control territories. They must also carefully manage their resources and alliances to outmaneuver their opponents and achieve victory.
</p>
<a href="#" class="btn btn-primary">Learn More</a>
</div>
</div>
</div>
{% endblock %}

